@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nunito:wght@300&family=Poppins:wght@500&display=swap');
 *{   
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.page{
    display:none;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #30336b;
}
.container{
    max-width:500px;
    width:400px;
    height:400px;
    background-color: whitesmoke;
    padding:10px;
}
input[type="email"]{
    width: 80%;
    border-radius: 20px;
    padding:5px;
}
::-webkit-input-placeholder{
    padding-left: 5px;
}
input[type="password"]{
    width: 80%;
    border-radius: 20px;
    padding:5px
}
a{
    color:#eb4d4b;
    text-decoration: none;
}
.page.active{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
h2{
    font-weight:bolder;
}
 .login .bottom{
    display: flex;
    flex-direction: column;
    gap:20px;
 }
 .login .sign{
    display: flex;
    gap:10px;
 }
  button{
    width:80px;
    background-color: blue;
    color: white;
    border: none;
    outline: none;
    padding:5px;
    border-radius: 10px;
 }
 input[type="text"]{
    width: 80%;
    border-radius: 20px;
    padding:5px
}
.fot{
    display: flex;
    gap:80px;
}